

@using GameHopper.Models
@using System.Security.Claims
@model IEnumerable<Game>

@{
    ViewData["Title"] = "Game Listings";
}

<h1>@ViewData["Title"]</h1>

<div id = "SharebuttonInsert"></div> 
<br />

@foreach (var game in Model)
{
    <div class="card mb-2">
        <div class="card-header">
            <h5 class="card-title">@game.Title</h5>
            @if (game.GamePicture != null)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(game.GamePicture)" alt="Game Picture" class="img-fluid" style="max-width: 100px;" />
            }
        </div>
        <div class="card-body"> 
            <p class="card-text">@game.Description</p>
            <p class="card-text"><small class="text-muted">Address: @game.Address @game.Address2, @game.State @game.Zip</small></p>
            <p class="card-text"><strong>Category:</strong>@game.Category</p>
            <p class="card-text"><strong>Tags:</strong> 
                @if (game.Tags != null && game.Tags.Any())
                {
                    @string.Join(", ", game.Tags.Select(t => t.Name))
                }
                else
                {
                    <span>No Tags</span>
                }
            </p>
        </div>
        <div class="card-footer">
            
            @if (User.Identity.IsAuthenticated && game.GameMasterId == User.FindFirstValue(System.Security.Claims.ClaimTypes.NameIdentifier))
            {
                <a asp-action="EditGame" asp-route-id="@game.Id" class="btn btn-primary footer-buttons" style="display:inline;">Edit</a>
                <form asp-action="DeleteGame" asp-route-id="@game.Id" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger footer-buttons" onclick="return confirm('Are you sure you want to delete this game?');">Delete</button>

                </form>
            }
        </div>
    </div>
}
@section Scripts {
    <script>
        $('#SharebuttonInsert').load("/home/ShareButtonPartial")
    </script>
}
<style>
    .footer-buttons {
    max-height: 35px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    background: #879199;
    border: none;
}

.footer-buttons a, .footer-buttons button {
    display: inline-block;
    height: 100%;
    width: auto;
}
</style>